flows-h590-controller.json
[
    {
        "id": "5163fbf0.85f694",
        "type": "tab",
        "label": "H590 Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ef526d3.d92dd",
        "type": "ui_group",
        "z": "",
        "name": "Volume",
        "tab": "99c16d7d.9b86a8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "info": "test"
    },
    {
        "id": "99c16d7d.9b86a8",
        "type": "ui_tab",
        "z": "",
        "name": "H590 Controller",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a550c9e.7709b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#005392",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "H590 Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 20,
                "gy": 20,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "436f4675.119968",
        "type": "ui_group",
        "z": "",
        "name": "Input Source",
        "tab": "99c16d7d.9b86a8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "26edb3be.de8af4",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "99c16d7d.9b86a8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "8054ea49.b6287",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "99c16d7d.9b86a8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "fb401144.6268d",
        "type": "tcp request",
        "z": "5163fbf0.85f694",
        "server": "192.168.3.166",
        "port": "50001",
        "out": "time",
        "splitc": "0",
        "name": "",
        "x": 642,
        "y": 140,
        "wires": [
            [
                "abfc9143.f1d8d8",
                "b0604f67.21b298"
            ]
        ]
    },
    {
        "id": "32e4690.b2cad18",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "tcp buffer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "abfc9143.f1d8d8",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "Parse TCP buffer",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "32e4690.b2cad18",
                "5ca70465.f6e21c"
            ]
        ]
    },
    {
        "id": "d9389417.67e7f8",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "Add carriage return",
        "func": "msg.payload = msg.payload + '\\r\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "fb401144.6268d",
                "629a05.36eef5fc"
            ]
        ]
    },
    {
        "id": "4042591f.3a282",
        "type": "ui_button",
        "z": "5163fbf0.85f694",
        "name": "Volume +",
        "group": "4ef526d3.d92dd",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-up fa-3x",
        "payload": "-v.u",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "2e61127d.be97de",
        "type": "ui_button",
        "z": "5163fbf0.85f694",
        "name": "Volume -",
        "group": "4ef526d3.d92dd",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-down fa-3x",
        "payload": "-v.d",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "7773f0a4.f8496",
        "type": "ui_dropdown",
        "z": "5163fbf0.85f694",
        "name": "Source",
        "label": "",
        "tooltip": "Select input source",
        "place": "",
        "group": "436f4675.119968",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "XLR1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "XLR2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Analog1",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Analog2",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Analog3",
                "value": "5",
                "type": "str"
            },
            {
                "label": "BNC",
                "value": "6",
                "type": "str"
            },
            {
                "label": "Coaxial",
                "value": "7",
                "type": "str"
            },
            {
                "label": "Optical 1",
                "value": "8",
                "type": "str"
            },
            {
                "label": "Optical 2",
                "value": "9",
                "type": "str"
            },
            {
                "label": "Optical 3",
                "value": "10",
                "type": "str"
            },
            {
                "label": "USB",
                "value": "11",
                "type": "str"
            },
            {
                "label": "Network",
                "value": "12",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "8c0a7087.35b138"
            ]
        ]
    },
    {
        "id": "8c0a7087.35b138",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "build command",
        "func": "msg.payload = '-i.' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 260,
        "wires": [
            [
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "5ca70465.f6e21c",
        "type": "switch",
        "z": "5163fbf0.85f694",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "-v.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "-i.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "-m.",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "-p.",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 670,
        "y": 280,
        "wires": [
            [
                "79dca98b.6d392"
            ],
            [
                "e0fba2b1.7489b8",
                "50ded82c.5b6"
            ],
            [
                "a80759b8.d7f348"
            ],
            [
                "c1fa9fa2.2fde1"
            ]
        ]
    },
    {
        "id": "79dca98b.6d392",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "parse Volume response",
        "func": "msg.payload = msg.payload.substr(3,3);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "7cdeba17.5e46ac"
            ]
        ]
    },
    {
        "id": "e0fba2b1.7489b8",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "parse Source response",
        "func": "switch(msg.payload.substr(3,2).trim()) {\n    case '1':\n        msg.payload = 'XLR1';\n        break;        \n    case '2':\n        msg.payload = 'XLR2';\n        break;        \n    case '3':\n        msg.payload = 'Analog 1';\n        break;        \n    case '4':\n        msg.payload = 'Analog 2';\n        break;        \n    case '5':\n        msg.payload = 'Analog 3';\n        break;        \n    case '6':\n        msg.payload = 'BNC';\n        break;        \n    case '7':\n        msg.payload = 'Coaxial';\n        break;        \n    case '8':\n        msg.payload = 'Optical 1';\n        break;        \n    case '9':\n        msg.payload = 'Optical 2';\n        break;        \n    case '10':\n        msg.payload = 'Optical 3';\n        break;        \n    case '11':\n        msg.payload = 'USB';\n        break;        \n    case '12':\n        msg.payload = 'Network';\n        break;        \n    default:\n        msg.payload = 'Unknown';\n        break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "83d818ba.eec0b8",
                "50ded82c.5b6"
            ]
        ]
    },
    {
        "id": "2a5024e6.ec5ffc",
        "type": "ui_button",
        "z": "5163fbf0.85f694",
        "name": "Mute",
        "group": "4ef526d3.d92dd",
        "order": 2,
        "width": "2",
        "height": "2",
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-off fa-3x",
        "payload": "-m.t",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 160,
        "wires": [
            [
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "1aeba478.d6827c",
        "type": "ui_button",
        "z": "5163fbf0.85f694",
        "name": "Power",
        "group": "26edb3be.de8af4",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off fa-3x",
        "payload": "-p.t",
        "payloadType": "str",
        "topic": "",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "c1fa9fa2.2fde1",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "parse Power response",
        "func": "msg.payload = msg.payload.substr(3,1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 380,
        "wires": [
            [
                "a0f90e8d.01692"
            ]
        ]
    },
    {
        "id": "a80759b8.d7f348",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "parse Mute response",
        "func": "msg.payload = msg.payload.substr(3,1).trim();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 340,
        "wires": [
            [
                "28917947.559f96"
            ]
        ]
    },
    {
        "id": "28917947.559f96",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "mute status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "a0f90e8d.01692",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "power status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "c8b9fd4d.47da",
        "type": "inject",
        "z": "5163fbf0.85f694",
        "name": "Auto Update",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "452dac4e.018be4"
            ]
        ]
    },
    {
        "id": "adfcc336.7feff",
        "type": "function",
        "z": "5163fbf0.85f694",
        "name": "Query Current Settings",
        "func": "var msgList = [];\nvar cmds = ['-v.?', '-i.?', '-p.?', '-m.?'];\n\nfor (var i=0; i < cmds.length; i++) {\n    \n    msgList.push({payload:cmds[i]});\n}\n\nreturn [msgList];",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 500,
        "wires": [
            [
                "6c777fe7.9ec62"
            ]
        ]
    },
    {
        "id": "629a05.36eef5fc",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "command",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "2b010a91.f777ee",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "queue payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "6c777fe7.9ec62",
        "type": "simple-queue",
        "z": "5163fbf0.85f694",
        "name": "Throttled Queue",
        "firstMessageBypass": true,
        "bypassInterval": "150",
        "x": 340,
        "y": 560,
        "wires": [
            [
                "2b010a91.f777ee",
                "d9389417.67e7f8"
            ]
        ]
    },
    {
        "id": "83d818ba.eec0b8",
        "type": "ui_text",
        "z": "5163fbf0.85f694",
        "group": "436f4675.119968",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "source",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1130,
        "y": 300,
        "wires": []
    },
    {
        "id": "893e2676.f2e9d8",
        "type": "change",
        "z": "5163fbf0.85f694",
        "name": "true",
        "rules": [
            {
                "t": "set",
                "p": "autoRefreshEnabled",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "452dac4e.018be4",
        "type": "switch",
        "z": "5163fbf0.85f694",
        "name": "is auto refresh enabled",
        "property": "autoRefreshEnabled",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "adfcc336.7feff"
            ],
            []
        ]
    },
    {
        "id": "2febd393.b97764",
        "type": "ui_switch",
        "z": "5163fbf0.85f694",
        "name": "",
        "label": "Enable Auto Refresh",
        "tooltip": "",
        "group": "8054ea49.b6287",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "61950f2.91cbd7"
            ]
        ]
    },
    {
        "id": "61950f2.91cbd7",
        "type": "switch",
        "z": "5163fbf0.85f694",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "893e2676.f2e9d8"
            ],
            [
                "691c4d.a48783b4"
            ]
        ]
    },
    {
        "id": "691c4d.a48783b4",
        "type": "change",
        "z": "5163fbf0.85f694",
        "name": "false",
        "rules": [
            {
                "t": "set",
                "p": "autoRefreshEnabled",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "a75a7142.1bf708",
        "type": "inject",
        "z": "5163fbf0.85f694",
        "name": "Initial Trigger",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "2febd393.b97764",
                "adfcc336.7feff"
            ]
        ]
    },
    {
        "id": "50ded82c.5b6",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "source status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1160,
        "y": 340,
        "wires": []
    },
    {
        "id": "7cdeba17.5e46ac",
        "type": "ui_level",
        "z": "5163fbf0.85f694",
        "group": "4ef526d3.d92dd",
        "order": 1,
        "width": "6",
        "height": "2",
        "name": "volume linear gauge",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "99",
        "segWarn": "75",
        "segHigh": "85",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "2",
        "fontSmall": "1",
        "colorFromTheme": true,
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "19358bb7.230d14",
        "type": "ui_toast",
        "z": "5163fbf0.85f694",
        "position": "bottom left",
        "displayTime": "5",
        "highlight": "red",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Unable to connect!",
        "name": "connect failed",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "b0604f67.21b298",
        "type": "debug",
        "z": "5163fbf0.85f694",
        "name": "raw tcp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "4d218a14.87d034",
        "type": "catch",
        "z": "5163fbf0.85f694",
        "name": "tcp error",
        "scope": [
            "fb401144.6268d"
        ],
        "uncaught": false,
        "x": 740,
        "y": 420,
        "wires": [
            [
                "19358bb7.230d14"
            ]
        ]
    }
]